*{
    margin: 0;
    padding:0 ;
}
.banner1{
    height: 100vh;
    background-size: cover;
    background-image: url("../img/banner1.jpg");
}
.banner2{
    height: 100vh;
    background-size: cover;
    background-image: url("../img/banner2.jpg");
}
.banner3{
    height: 100vh;
    background-size: cover;
    background-image: url("../img/banner3.jpg");
}
.banner4{
    height: 100vh;
    background-size: cover;
    background-image: url("../img/banner4.jpg");
}

.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}

header{
    z-index: 3;
}


.description{
    width: 100%;
    position: absolute;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.black{
    background-image: url("../img/black.jpg");
    height: 100vh;
    background-size: cover;}
  .black  h3{
        font-family: '20 Kopeek Book';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 100%;
        color: #FFFFFF;
        padding-top: 282px;
    }

.black  p{


    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;


    color: #FFFFFF;
}




