@font-face {
  font-family: '20 Kopeek';
  src: url('../fonts/20Kopeek-Book.woff2') format('woff2'),
  url('../fonts/20Kopeek-Book.woff') format('woff');
  src: url('../fonts/20Kopeek.woff2') format('woff2'),
  url('../fonts/20Kopeek.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
}

.banner1 {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/banner1.jpg");
}

.banner2 {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/banner2.jpg");
}

.banner3 {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/banner3.jpg");
}

.banner4 {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/banner4.jpg");
}

.banner5{
  height: 100vh;
  background-size: cover;
  background-image: url("../img/section1.jpg");
}


header {
  z-index: 3;


  p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }

  li {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-right: 28px;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  padding-right: 1rem;
  padding-left: 1rem;

}




.description {
  width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .container {
    z-index: 2;
  }


}
    .description {
      .col-md-12 {
        h1 {
          font-family: '20 Kopeek Book';
          font-size: 45px;
          line-height: 100%;
          color: #FFFFFF;
        }

        h3 {
          font-family: '20 Kopeek';
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 110%;
          color: #FFFFFF;
        }
      }
      .col-lg-6 {
      }

      h1 {
        font-family: '20 Kopeek Book';
        font-size: 45px;
        line-height: 100%;
        color: #181818;
        padding-bottom: 25px;
      }

      h3 {
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 110%;
        color: #181818;
        padding-bottom: 55px;
      }

      a {
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #181818;
        background: #FFFFFF;
        border-radius: 40px;
        padding: 19px 47px;
        margin-right: 30px;
      }
    }





.box1{
  padding-bottom: 120px;
  padding-top: 80px;
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
  }
  p{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
  padding-top: 52px;}
}


.name-number{
  padding-bottom:120px ;
  h2{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
  }
 p{
padding-top: 40px;
   display: flex;

 }
  span{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
    padding-right: 9px;
    position: relative;
    top: -20px;
  }
}

.box2{
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    margin-top: 50px;
    &:nth-child(3){
      background: #2B59C3;
      border-radius: 5px;
      color: white;
      padding: 10px;

    }
  }
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
  }
}


.anchor{
  padding-top: 120px;
  h2{
    margin-top: 41px;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  a{
    margin-top: 41px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    border-radius: 40px;
    padding: 10px 57px;
    border: 2px solid silver;
  }
  .col-lg-3{
    max-width: 100%;
  }
}

.lifecare{
  padding-bottom: 50px;
  padding-top: 50px;
  h2{
    margin-top: 41px;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
  a{
    margin-top: 41px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    border-radius: 40px;
    padding: 10px 57px;
    border: 2px solid silver;

  }
  .col-lg-4{
    max-width: 100%;
  }
}


.Vilata{
  padding-bottom: 50px;
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-top: 41px;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;

  }
  a{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    padding: 10px 57px;
    border: 2px solid silver;
    border-radius: 40px;
    margin-top: 41px;
  }
}

.coral{
  padding-bottom: 120px;

  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-top: 41px;
  }
p{
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
a{
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  padding: 10px 57px;
  border: 2px solid silver;
  border-radius: 40px;
  margin-top: 41px;
}
}
.row {
  .linka {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
  }
}

.dislife{
  padding-bottom: 77px;
  .row{
  }
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
  }
  h6{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;

  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #005cbf;
    border-radius: 5px;
    margin-top: 60px;
    padding: 5px;
span{
  font-size: 25px;
 padding-bottom: 5px;


}

  }

}

.input{
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
  }
  h5{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #181818;
  }
}

.input{
padding-bottom: 150px;
    input{
      border: 1px solid #181818;
      border-radius: 30px;
  padding: 35px;}
  button{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
  }

}
.form-check {
padding: 35px;}

.form-check-label{
  span{
    color: blue;
  }
}

.stages{
  .row{
    margin-bottom: 65px;
  }
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;

  }
  .img1{
    margin-bottom: 24px;
    height:87px;
    position: relative;
    right: 130px;

  }
  .img2{
    height:70px;
    margin-bottom: 24px;
    position: relative;
    right: 135px;
  }
  .img3{
    height:83px;
    margin-bottom: 24px;
    position: relative;
    right: 140px;
  }
  h5{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    display: flex;
    align-items: flex-end;
    color: #181818;

  }
  h6{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    margin-bottom: 15px;
  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
  }
}





.frelans {
  padding: 150px 0;

  .row {
    .col-lg-2 {
      background-color: #005cbf;
    }

    .col-lg-3 {
      &:nth-child(2) {
        padding-left: 30px;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 30px;
          height: 5px;
          background-color: white;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }
    }

    .col-lg-3 {
      &:nth-child(3) {
        border: 4px solid #2B59C3;
        border-bottom: 0.5px solid #868686;
        border-top: none;
      }
    }

    &:first-of-type {
      .col-lg-3, .col-lg-4 {
        border-bottom: none;
      }

      .col-lg-2 {
        border-radius: 10px 10px 0 0;
      }

      .col-lg-3 {
        &:nth-child(3) {
          border-radius: 10px 10px 0 0;
          border-top: 4px solid #2B59C3;
        }
      }
    }

    &:last-of-type {
      .col-lg-2 {
        border-radius: 0 0 10px 10px;
      }

      .col-lg-3, .col-lg-4 {
        border-bottom: none;
      }

      .col-lg-3 {
        &:nth-child(3) {
          border-radius: 0 0 10px 10px;
          border-bottom: 4px solid #2B59C3;
        }
      }
    }

    .col-lg-3, .col-lg-4 {
      border-bottom: 0.5px solid #868686;
    }
  }

  h4 {

    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #868686;
  }

  p {
    margin-bottom: 30px;
    padding-top: 26px;
  }

  h5 {
    padding-top: 26px;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
  }
}


.black {
  background-image: url("../img/img-black.jpg");
  height: 100vh;
  background-size: cover;
  padding-top: 282px;
  padding-bottom: 80px;

  h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #FFFFFF;
    padding-bottom: 70px;

  }

  p {

    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
  }
  span{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #FFFFFF;
    padding-right: 9px;
    position: relative;
    top: -20px;


  }
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;

  }
}

.contacts{
  padding-top: 150px;
h4{
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  color: #181818;
  padding-bottom: 20px;
}
  input{
    border: 1px solid #181818;
    border-radius: 10px;
    padding: 23px;
  }
  h5{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #181818;
  }
  .form-group{
    margin-right: 120px;
  }
}
.col-lg-6{
  button{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
  }
  span{
    color: blue;
  }
}

footer {
  padding-top: 100px;
  .col-lg-3{
    background: #2B59C3;
    border-radius: 10px;
    width: 100%;
    max-width: 230px;
    margin-right: 38px;
  }
  .col-lg-12{
    p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    padding-top: 30px}
  }

  .col-lg-3{
    p {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
      padding-bottom: 28px;


    }
  }

  h4 {
    margin-bottom: 35px;
  }


  a {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;

  }

}

