






.black{
    background-image: url("../img/black.jpg");
    height: 100vh;
    background-size: cover;}
  .black  h3{
        font-family: '20 Kopeek Book';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 100%;
        color: #FFFFFF;
        padding-top: 282px;
    }

.black  p{


    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;


    color: #FFFFFF;
}





